header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 10px;
}

nav a:hover {
    color: #c78c19;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

#banner {
    width: 100%;
    padding: 10px 0;
}

.principal {
    background: #BBBBBB;
    padding: 20px;
    margin: 0 0 15px 0;
}

.título-centralizado {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 0;
}

#missao {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;

}

em strong {
    color: blue;
}

footer {
    text-align: center;
    background: #000000;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}